<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/International_Pokémon_logo.svg.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/International_Pokémon_logo.svg.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/International_Pokémon_logo.svg.png" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
