<div class="alinear-texto">
    <div class="card">
      <section>
        <h2>{{miPortfolio.name}}</h2>
        <div class="texto-modificado">
          <h3>{{miPortfolio.position}}</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Aliquid facilis iste soluta consequatur alias, voluptate, nobis ad quasi facere nihil molestiae quis fugit iure deleniti sapiente fugiat vel ex maxime.</p>
            </div>
              <div class="texto-2">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo fugiat, odit dolore vero quibusdam alias? Provident, aperiam labore? Nisi non animi vitae est voluptate neque veritatis enim quae qui dolor.</p>
              </div>
              <div class="texto-3">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic veritatis, sed facere ullam quidem quibusdam inventore itaque ad quod, eius mollitia id rerum eaque ut corporis autem quos veniam quae.</p>
              </div>
               
  
      
  
      <section>
        <div class="card">
        <h2>{{miPortfolio.position}}</h2>
        <div class="texto-modificado">
          <h3>Lorem</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Aliquid facilis iste soluta consequatur alias, voluptate, nobis ad quasi facere nihil molestiae quis fugit iure deleniti sapiente fugiat vel ex maxime.</p>
            </div>
              <div class="texto-2">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo fugiat, odit dolore vero quibusdam alias? Provident, aperiam labore? Nisi non animi vitae est voluptate neque veritatis enim quae qui dolor.</p>
              </div>
              <div class="texto-3">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic veritatis, sed facere ullam quidem quibusdam inventore itaque ad quod, eius mollitia id rerum eaque ut corporis autem quos veniam quae.</p>
              </div>
            </div>
  
      </section>
  
      <section>
        <div class="card">
        <h2>School</h2>
        <div class="texto-modificado">
          <h3>{{miPortfolio.school.name}}</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Aliquid facilis iste soluta consequatur alias, voluptate, nobis ad quasi facere nihil molestiae quis fugit iure deleniti sapiente fugiat vel ex maxime.</p>
            </div>
              <div class="texto-2">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo fugiat, odit dolore vero quibusdam alias? Provident, aperiam labore? Nisi non animi vitae est voluptate neque veritatis enim quae qui dolor.</p>
              </div>
              <div class="texto-3">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic veritatis, sed facere ullam quidem quibusdam inventore itaque ad quod, eius mollitia id rerum eaque ut corporis autem quos veniam quae.</p>
              </div>
            </div>
          </section>
  
