*{
    font-family: 'Roboto', sans-serif;
}

html {

    scroll-behavior: smooth;
    font-size: 16px
}

body {
    background-color: #ccc;

}

/*#carouselExampleSlidesOnly {
    position: absolute;
    z-index: 1;
}*/


.navbar {
    background-color: #FF8906;
    

        
}



.colored-section{
    color: #FF8906;
}

.navbar-brand{
    color: #450FA6;
    margin-left: 30px;
}

.nav-link{
    color: #450FA6;
    margin-right: 30px;
    padding: 10px;
}


.nav:visited{
    text-decoration: none;
    /*color: #ccc;*/
}

.nav:hover{
    background-color: #ccc;
}

.carousel{
    position: inherit;
    z-index: -1;
}

.imgmia {
    position: absolute;
   left: 0;
   right: 0;
   top: 60%; 
   z-index: 9999999;
    width: 14%;
    height: 14%;
    border-radius: 50%;
}

.spinner {
    position: fixed;
    z-index: 999999999999;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #FF8906;
}

.alinear-texto {
    padding: 10px;
    margin-left: 30px;
    border-radius: 30px;
    border-color:#5E0AF2;
}

.card{
    padding: 10px;
    margin-left: 30px;
    border-radius: 30px;
    border-color:#5E0AF2;
    margin: 10px;
    background-color: #FF8906;
}

.texto-modificado {
    padding: 10px;
    margin-left: 45px;
}

.texto-2 {
    padding: 10px;
    margin-left: 55px;
}

.texto-3 {
    padding: 10px;
    margin-left: 65px;
}


